template/*
*.aux
*.bbl
*.blg
*.log
*.toc
main.pdf
main-blx.bib
*.bcf
*.run.xml
*test
*old
main.lof
\#*
\.\#*
main.tdo
*.synctex.gz
template/blind*
*.sublime-*
*.fdb_latexmk
/TODO
/main.cb
/main.cb2
_region_*
*.fmt
